html,
body {
  border: 0;
  font-family: 'Gt Walsheim Regular', sans-serif;
  font-size: 16px;
  letter-spacing: .5px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 1rem;
}

a {
  text-decoration: none;
  color: #4D4D4D;
}

header {
  border-bottom: .5px solid #e6e6e6;
  display: flex;
  flex-direction: row;
  height: 100px;
  /*background-color: #8a8a8a;*/
}

.center {
  text-align: center;
}

.navigation {
  display: flex;
  flex: 1 1 24%;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: block;
}

.contact-head {
  display: inline-flex;
  flex-wrap: wrap;
}

.nav-bar {
  list-style: none;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.large {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
}

.fa-bars {
  color: #999;
  height: 30px;
  width: 30px;
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

li ul {
  display: none;
  background-color: white;
  border: .5px solid #e6e6e6;
}

.link-bar {
  background: none;
  border-bottom: 4px solid #EEE;
  color: #4D4D4D;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-decoration: none;
  white-space: nowrap;
}

li:hover ul {
  display: flex;
  flex-direction: column;
}

.link-bar:hover,
.social-links:hover {
  border-bottom: 4px solid #3498B1;
  color: #3DAFCA;
}


.social-links,
.social-icons,
.socials-bar {
  color: #CCC;
  display: inline-block;
}

.socials, .contact-nav-bar {
  margin: 1rem;
  color: #4D4D4D;
}

.socials-bar {
display: none;
flex-direction: row;
}

.socials, .contact-nav-bar:hover {
  color: #3DAFCA;
}

.top-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content:flex-end;
  min-height: 500px;
}

.top-content_bigtext {
  color: #99999;
  font-size: 3.5em;
  order: 1;
}

.fa-heart {
  color: #E14D64;
}

.top-content_smalltext {
  color: #4d4d4d;
  font-size: 1.5em;
  order: 2;
}

.features {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
}

.box {
  border-top: 5px solid #E6E6E6;
  min-height: 200px;
  padding: 1rem;
  border-left: .5px solid #e6e6e6;
  border-right: .5px solid #e6e6e6;
  border-bottom: .5px solid #e6e6e6;
}

.grey-box {
  border-top: 5px solid #8995A2;
}

.blue-box {
  border-top: 5px solid #3DAFCA;
}

.box-border {

}

.box-title {
  color: #4D4D4D;
  font-size: 2em;
  letter-spacing: 0px;
  margin-left: 1rem;
}

.box-desc {
  color: grey;
  font-weight: lighter;
  line-height: 18px;
  margin: 1rem;
}

.box-button {
  background: #FFF;
  border: 1px solid #CCC;
  color: #666;
  display: inline-block;
  font-weight: bold;
  padding: 12px 35px;
  text-decoration: none;
}

.projects{
  text-align: center;
  margin: 0;
}

.section-title {
  font-size: 40px;
  font-weight: 300;
  margin-top: 2rem;
  margin-bottom: 0;
}

.section-subtitle {
  color: #666666;
  font-weight: lighter;
  margin-top: 1rem;
}

.projects-list {
  display: flex;
  flex-direction: column;
}

.projects-images {
  display: block;
  width: 100%;
  flex: 0 1 10%;
  margin: 0;
}

.projects-button {
  background: #3DAFCA;
  border: none;
  color: #fff;
  width: 50%;
  margin-top: 30px;
  padding: 1rem;
  font-size: 20px;
}

.projects-button:hover {
  background: #3498B1;
}

.about {
  display: flex;
  flex-direction: column;
}

.about-text {
  order: 1;
  flex: 1 1 40%;
}

.about-stats {
  order: 2;
  background-color: #4c535f;
  display: flex;
  flex-direction: column;
  max-height: 400px;
}

.about-stats-ind {
  color: #797F8B;
  margin: 1rem;
  font-size: 30px;
}

.section-text {
  font-weight: normal;
  color: #666666;
}

.workers {
  display: flex;
  flex-direction: column;
}

.workers-photo {
  display: block;
  width: 100%;
  margin-top: 1rem;
}

.customers {
  display: flex;
  flex-direction: column;
}

.companies {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 1rem;
  justify-content: space-between;
}

.company {
  border-radius: 3px;
  min-height: 50px;
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  background-color: #f9f9f9;
  flex: 1 1 40%;
}

.company:hover {
  background-color: #c9c9c9;
  transition-duration: 0.3s;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-text {
  border: .5px solid #e6e6e6;
  padding: 1rem;
}

.review-person {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.review-img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-right: 1rem;
}

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  background-color: rgba(238, 238, 238, 0.5);
  margin: 1rem 0;
}

.form-fields {
  flex: 0 1 25%;
  margin: 1rem;
  padding: 1rem 0;
  width: 90%;
  border: none;
  background-color: rgba(238, 238, 238, 0.5);
  border-bottom: 4px solid rgba(100, 100, 100, 0.3);

}

.contact-button {
  background: #3DAFCA;
  border: none;
  color: #fff;
  width: 50%;
  margin: 30px auto;
  padding: 1rem;
  font-size: 20px;
}

.footer {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
}


@media (max-width:450px) {
  .large, .nav-bar, .contact-head{
    display: none;
  }

}

@media (min-width: 451px) and (max-width:700px) {
  .large, .nav-bar, .contact-head{
    display: none;
  }

  .features {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .box {
    margin-right: 0;
    flex: 1 1 40%;
  }

}

@media (min-width: 701px) and (max-width:840px) {
  .large, .nav-bar, .contact-head{
    display: none;
  }

  .features {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .box {
    margin-right: 0;
    flex: 1 1 40%;
  }

}

@media (min-width: 841px) {
  .socials-bar {
  display: flex;
  flex-direction: row;
  }
  .drop-nav, .drop-list {
    display: none;
  }

  .features {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .box {
    margin-right: 0;
    flex: 1 1 15%;
  }

}
